.div-img img{
    width: 195px;
    height: 140px;
    border-radius: 5px;
}
.div-img{
    padding-left: 2px;
    padding-top: 1px;
}
.all{
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}
.paragraph {
margin-left: 10px;
}
.sarlavha{
    margin-left: 20px;
}
.button button{
    margin-left: 40px;
    width:120px;
    height: 20px;
    margin-bottom: 10px;
    background-color:;
    color: rgb(0, 153, 255);
}